html, body, h1, ul.home, h2, h3, h2, h4, h5, h6, nav, ul, li, .wrap, .about, .img, #searchbox, #submit
.title .main .handle section .section .content-area .content blockquote .topcontent aside .objectives aside span .information .content .snow_image 
.mountain .seasons .maincontent .title .paragraph .content .container .item{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}