body {
	font-family: Arial;
	/*background-image: url("images/photo-background.jpg");*/
	background-image: linear-gradient(to top,#f0f9ff 0%,#cbebff 47%,#a1ebff 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*font-size: 87.5%;*/ /* base font-size 14px */
	text-align: left;
	margin: 0;
	padding: 0;

}

input[type="text"]{
	max-width: 100%;
}	

@font-face {
    font-family: OpenSans-Regular;
    src: url('font-family/OpenSans-Regular.ttf');
}
/*.title {
       /*padding: 1.0121457489878542510121457489879%;*/
   /* background-color: #399077;
    width: 100%;
       /*border: 1px solid #e9e9e9;*/
    /*color: white;
    text-align: center;
    border-radius: 10px;


}*/
.title {
	background-color: #005c48;
	width: 100%;
	padding: 30px 0;
	color: white;
	text-align: center;
	font-size: 32px;
}

a{
	text-decoration: none;
	color: inherit;
}
p.icons {
	background-color: blue;
}
nav.main ul.main-menu{
	background-color: #399077;
	overflow: hidden;
	padding: 0;
	text-align: center;
	margin: 0;
	height: auto;
}

nav.main ul.main-menu li {
	display: inline-block;
	padding: 10px;
	color: white;
}
nav.main {
	border-right: 2px solid #548879d;
}


header{

	/*border: 2px solid red;*/
	/*padding: inherit;*/
	background-color: #005c48;
	width: 150px;
	/*height: 50%;*/
	/*margin: 2% 1%;*/
	border-radius: 5px;

} 

header.about {
	/*background-color: #005c48;*/
	width: 50%;
	height: auto;
	margin: 2%;
	border-radius: 5px;

}

header img {
	margin-left: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
	width: 100%;

}

header a{
	display: inline-block;
    width: 48%;
    overflow: hidden;
    /*margin-left: 3%;*/
}
hr {
	width: 100%;
	color: #00000;
	align: left;
}
p.requirments {
	font-style: bold;
}

/*.email {
	font-size: 1em;
	text-align: center;
}*/


.handle {
	width: 100%;
	background: #399077;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display: none;
}


nav.main a:link, ul.main-menu a:visited{
	background-color: #399077;
	height: 40px;
	color: white;
	border-radius: 5px;
	text-align: center;

}

nav.main a:hover, nav.main a:active,
nav.main .active a:link, nav.active a:visited {
	background-color: blue;
	text-shadow: none;

}

/*ul.home {
	background-color: #399077;
	height: 40px;
	/*color: white;*/
	/*border-radius: 5px;
	font-family: 30px 'open sans, sans serif';
	text-align: center;
	color: white;
	margin-top: 0px;*/
	/*margin: 4%;*/
}

/*h1{
	background-color: #399077;
	height: 30px;
	color: white;
	border-radius: 5px;
}*/

h2, h3 {
	color: white;
	position: relative;
	right: auto;
	text-align: left;
}
h2, h4, h5, div.rights{
	text-align: center;
	color: blue;
	font-size: 1.3em;
	font-style: bold;

}
p.objective {
	color: white;
	font-size: 1.5em;
}

h5 {
	text-align: center;
	font-family: Georgia, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}


blockquote {
	display: block;
	margin: 1em 50px 1em 40px;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: verdana;
	quotes: none;
	color: purple;
	font-size: 1em;
	line-height: 1.5em;

}
div.content-area, p {
	color: blue;
	margin-top: 2px;
	

}
div.wrap {
	margin: 0 auto;
	/*max-width: 960px; */
	/*width: 100%; */
}
/*div.objectives {
	border: 2px solid #555;
	padding: inherit;*/
}
div.information {
	color: blue;
}


nav ul li{
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
	/*overflow: hidden;*/
}

ul, ol, li {
	list-style-type: none;
	padding-left: 10px;
	text-align: left;
	color: purple;
}


ol{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 20px;
}


article.topcontent {
  width: 50%;
  margin-right: 5%;
  float: left;
  padding: 0.5%;
  padding-top: 1.5%
  font-size: 0.9em;
  line-height: 1.5em;
  background-color: white;
  

}
sidebar, .sidebar-content {
  width: 98%;
  margin-right: 2%;
  float: right;
  clear: both;
  /*padding: 1%;*/
  padding-top: 10px;
  font-size: 1.1em;
  line-height: 1em;
  background-color: DeepSkyBlue;
   opacity: 0.9;
}
 
aside, section{
   width: 35%;
  float: right;
  padding-left: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 8%;
  /*background-color: #399077;*/
  margin-top: 30px;
  font-size: 1.1em;
  line-height: 1.3em;
  box-shadow: 5px 5px 5px #666;
  border-radius: 10px;
  background-color: DeepSkyBlue;
   opacity: 0.9;
}


 aside, sidebar{
 	top: -214px;
 	float: right;
 	margin-top: 5px;
 }

/*p {
 width: 450px;
 position: relative;
 margin-left: 300px;
 text-decoration: none;

}*/

div.footer {
	margin-top: 5px;
	text-align: center;
	padding: 0.5em;
	color: #001;
	clear: both;
	float: none;
	background-color: #399077;
}

h6 {
	text-align: center;
	color: blue;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}
a {
	border: 2px solid #399077 100%;
	width: 100%;
}

ul.links:hover, ul.links:active,
ul.links:link, ul.links:visited {
	background-color: #399077 ;
	text-shadow: none;

}

div.seasons {
	margin-top: 30px;
	clear: both;
}
div.icons {
	/*position: relative;*/
	/*float: left;*/
	display: inline-block;
	margin-top: -10px;
	margin-left: 40%;
	
}

/*div.content {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 10px;*/

}
p.mountains {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	font-style: italic;
	clear: both;
}
p.vancouver-map {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	font-style: italic;
	clear: both;
}

p.winter {
	float: right;
	font-style: italic;

}
p.text-center, p.objective {
	text-align: center;
	color: white;
}
#logo{
	position: relative;
	left: 16px;
}
main.heading {
	padding: 30px 20px;

}
.paragraph {
	/*border: 2px solid #399077;*/
	width: 100%;
	font-size: 1.3em;

}
.add{
	border: 2px solid #399077;
	background-color: white;
}
.container {
	display: flex;
    width: 100%;
    height: 50%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(
      to right, #a1dbff 0%, #f0f9ff 16%, #a1dbff 33%,
      #f0f9ff 50%, #a1dbff 67%, #f0f9ff 84%, #a1dbff 100%
   );
	 }
	 .item {
    background-color: cornflowerblue;
    width: 50%;
    height: 40%;
    margin: 30px 5px 5px 5px;
    color: white;
    text-align: center;
    max-width: 100%;
 
}
 form {
 	text-align: center;
 }
 div.objectives {
 	float: left;
 }

  
  #searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 10px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 25px;
    padding: 10px;
    margin: 30px auto 15px;
    overflow: hidden; /* Clear floats */
}
#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
@media screen and (max-width: 480px) {
	body{
		background-color: #cbebff;
	    width: 100% 
	 }
	 article.topcontent {
      width: 100%;
	 }
	 aside, section{
      width: 90%;
    }

	nav.main ul.main-menu {
	 	max-height: 100%;
	 }
	 nav.main ul.home li{
	 	box-sizing: border-box;
	 	/*width: 100%;
	 	padding: 10px;
	 	text-align: left;*/
	 }
	/* .handle {
	 	display: block;*/
	 }
	 h2{
	 	font-size: 1.2em;
	 }
	 /*aside,section {
	 	width: 40%;*/
	 }

	 
	 .about {
	 	width: 100%;
	 	float: left;
	 	clear: both;
	 	margin-top: 5%;
	 }
	 .main {
	 	width: 100%;
	 	/*margin-top: 20%;*/
	 }
	 .sidebar, nav, ul, a{
	 	width: 100%;

	 }
	 .section {
	 	width: 50%;
	 	float: left;
	 	margin-right: 0;
	 	font-size: 1em;
	 }
	 .content-area {
	 	width: 50%;
	 }
	 
	 .objectives {
	 	margin-right: 0;
	 	float: left;
	 	width: 100%;
	 }
	 #searchbox {
	 	float: left;
	 	margin-top: 0;
	 	width: 300px;
	 
	} 
	.container {
		width: 100%;
		float: left;
	}
	.item {
		width: 100%;
		float: left;
	}
	p {
		font-size: 1em;
	}
}

  

@media screen and (max-width: 720px) {
	body{
		background-color: #cbebff;
	    width: 100%
	 }
	 nav.main ul.main-menu {
	 	max-height: 100%;
	 }

	 article.topcontent {
      width: 50%;
      float: left;
	 }
	 aside, section{
      width: 45%;
      float: right;
     }
	 /* nav.main ul.home li{
	 	box-sizing: border-box; 
	 	width: 100%;
	 	padding: 10px; 
	 	text-align: left; */
	 }
	 /*.handle {
	 	display: block;*/
	 }
	 .about {
	 	width: 100%;
	 	float: left;
	 	clear: both;
	 	margin-top: 5%;
	 }
	 .main {
	 	width: 100%;
	 	/*margin-top: 20%;*/
	 
	 }
	 .section {
	 	width: 100%;
	 	float: left;
	 	margin-right: 0;
	 }
	 .content-area {
	 	width: 100%;
	 }
	 
	 .objectives {
	 	margin-right: 0;
	 	float: left;
	 }
	 #searchbox {
	 	float: left;
	 	margin-top: 0;
	 	width: 300px;
	 
	} 
	.container {
		width: 100%;
		float: left;
	}
	.item {
		width: 90%;
		float: left;
	}
}
  /* nav.main, ul.home, li.top {
   	 width: 100%;
   }
}*/
@media screen and (min-width: 1024px) {
	body{
		background-color: #cbebff;
	    width: 100%
	 }

	 article.topcontent {
     width: 50%;
     float: left;
     clear: both;
     }
     aside, section{
      width: 35%;
      float: right;
      clear: both;
     }

	 .about {
	 	width: 100%;
	 	float: left;
	 	clear: both;
	 	margin-top: 5%;
	 }
	 .main {
	 	width: 100%;
	 	/*margin-top: 20%;*/
	 	float: right;
	 }
	 .section {
	 	width: 100%;
	 	float: right;
	 	clear: both;
	 }
	 .content-area {
	 	width: 100%;
	 }
	 .section {
	 	margin-right: 0;
	 	float: left;
	 }
	 .objectives {
	 	margin-right: 0;
	 }
	 .title {
	 	float: left;
	 	clear: both;
	 	max-width: 100%;
	 }

	 
}
  /* nav.main, ul.home, li.top {

