body {
	font-family: Arial;
	background-image: url("images/photo-background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;

}

h1, ul.home {
	text-align: center;
	color: blue;
	font-weight: bold;
}

h2, h3 {
	color: blue;
	position: relative;
	right: auto;
	text-align: left;
}
h2, h4 {
	text-align: center;
	color: blue;

}
h5 {
	text-align: center;
	font-family: Georgia, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}


blockquote {
	display: block;
	margin: 1em 50px 1em 40px;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: verdana;
	quotes: none;
	color: purple;

}
div.content-area, p {
	color: purple;
}
div.wrap {
	margin: 0 auto;
	max-width: 960px;
}
div.objectives {
	border: 2px solid #555;
	padding: inherit;
}
div.information {
	color: blue;
}
	

nav ul li{
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

ul, ol, li {
	list-style-type: none;
	padding-left: 10px;
	text-align: left;
	color: purple;
}


ol{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 20px;
}

/*p {
 width: 450px;
 position: relative;
 margin-left: 300px;
 text-decoration: none;

}*/

div.footer {
	margin-top: 5px;
	text-align: center;
	padding: 0.5em;
	color: #001;
	clear: both;
	float: none;
} 

h6 {
	text-align: center;
	color: red;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}

div.seasons {
	margin-top: 30px;
	clear: both;
}
 
header img {
	/*margin-left: 30px;*/
	margin-bottom: 15px;
	margin-top: 10px;
	width: 100%;
}

header{
	/*margin-left: 80px;*/
	margin-bottom: 15px;
	margin-top: 10px;
	border: 2px solid #555;
	padding: inherit;
	background-color: gray;
}
header a{
	display: inline-block;
    width: 45%;
    overflow: hidden;
    margin-left: 3%;
}
div.content {
	margin-bottom: 20px;
	
}
p.mountains {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	font-style: italic;
	clear: both;
}


p.winter {
	float: right;
	font-style: italic;

}
.text-center{
	text-align: center;
}
  